li {
  list-style: none;
}

.top {
  background: #0f0f0f;
}
.logo {
  max-width: 2rem;
}

.logo_title_dev {
  color: red;
  font-weight: 700;
  margin-left: 1.2rem;
}
.logo_title_talk {
  font-weight: 100;
  color: white;
}
.logo_title_kenya {
  font-weight: 100;
  font-size: 1rem;
  padding-left: 0.4rem;
  color: green;
}
.signin_btn {
  margin-right: 1.2rem;
  font-size: x-small;
  color: white;
}
.signup_btn {
  margin-right: 1.2rem;
  font-size: x-small;
  color: white;
}
.signin_btn:hover {
  background-color: #f9a825;
}
/* used important as the default button  values refused to be overiden */
.nav_btn {
  background-color: transparent !important;
  border: none !important;
}
.nav_btn:hover {
  background-color: transparent !important;
  border-radius: 0.5rem solid white;
}
.nav_dropdown {
  background-color: #0f0f0f;
}
.nav_dropdown_items {
  color: #616161;
  font-size: x-small;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
}
