li {
  list-style: none;
}

.top {
  background: #0f0f0f;
  color: #ffff;
}
.logo {
  max-width: 2rem;
}

.logo_title_dev {
  color: red;
  font-weight: 700;
}
.logo_title_talk {
  font-weight: 100;
  color: white;
}
.logo_title_kenya {
  font-weight: 100;
  font-size: 1rem;
  padding-left: 0.4rem;
  color: green;
}
.signin_btn {
  background-color: #1b5e20;
  font-size: small;
}
.signup_btn {
  margin-right: 1.2rem;
}
.signin_btn:hover {
  background-color: #f9a825;
}
